* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}

.propvat-purple{
  color: #41085B;
}